


h2{
    text-align: center;
    margin-left: 0%;
    margin-bottom: 20%;
    margin-top: -4%;

}
.p-button1{

    margin-left: 73%;
    text-decoration: none;
   
}
.p-button2{
    text-decoration: none;
    margin-right: 10%;
   
}
.p-button3{
    text-decoration: none;
    margin-left: -10%;
   
}
:host::ng-deep.side{
    width: 180px;

}
.p-Sidebar{
    width: 120px;
    
}
:host::ng-deep.image{
    /* width: 10px; */
    
}
ul li{
    list-style: none;
    font-weight: bold;
    justify-content: space-between;
}