<!-- <p>login-page works!</p> -->

<div class="container">
  <div class="main">
    
    <!-- <nav>
        <a routerLink="/home">HOME</a>
        <a routerLink="/about">ABOUT</a>
    </nav> -->

    <h3>LOGIN HERE</h3>

    <span class="p-float-label" style="text-align: center">
      <input id="float-input" type="text" pInputText />
      <label for="float-input" class="lb">Username</label>
    </span>
    <br />
    <br />

    <span class="p-float-label" style="text-align: center">
      <input id="float-input" type="password" pInputText />
      <label for="float-input" class="lb">Password</label>
    </span>
    <br />
    <br />
    <span class="p-float-label" style="text-align: center">
      <input id="float-input" type="email" pInputText />
      <label for="float-input" class="lb">Email ID</label>
    </span>

    <div class="btn1" >
      <button
        pButton
        pRipple
        type="button"
        label="LOGIN"
        class="p-button-outlined p-button-rounded p-button-success"
      ></button>

        <button
        pButton
        pRipple
        type="button"
        label="CANCLE"
        class="p-button-outlined p-button-rounded p-button-danger"
        ></button>
    </div>
    </div>
  </div>
