.container{
    margin:0;
    padding: 0;
}
.header{
    background-color:goldenrod;
    height: 40px;
}
h2{
    margin-left: 10%;
    margin-top: 10px;
    color:darkblue
}
ul{
   list-style: none;
   display:inline-flex;
   column-gap: 2px;
   justify-content: space-between;
   float: right;
   margin-bottom: 5%;
    
}
ul li{
    margin-top: -50px;
    color: white;
    justify-content: space-between;
    padding:5px;
}
button{
    float: right;
    padding: 5px;
    margin-right: 17px;
    margin-top: -160px;
}



