<div class="container">
    <div class="main">

     <div class="header">
        <h2>Expense Manager</h2>

        <ul>
            <li class="pi pi-home">Home</li>
            <li>Report</li>
            <li>Add Expense</li>
            <li>About</li>
        </ul>

     </div>
    </div>
    
    <table>
        
        <h4>Expense Entry</h4>

        

        <tr>
            <td>Item :</td>
            <td>{{name}}</td>
        </tr>
        <tr>
            <td>Amount :</td>
            <td>{{Amount}}</td>
        </tr>
        <tr>
            <td>Category :</td>
            <td>{{category}}</td>
        </tr>
        <tr>
            <td>Location :</td>
            <td>{{Location}}</td>
        </tr>
        <tr>
            <td>Spend On :</td>
            <td>{{SpendOn}}</td>
        </tr>
        
        
    </table>

    <button pButton type="button"  >Edit</button>
</div>