<!-- <app-hello></app-hello> -->
<!-- <app-ex4></app-ex4> -->
<!-- <app-databind></app-databind> -->
<!-- <app-exercise2></app-exercise2> -->
<!-- <app-expense-manager></app-expense-manager> -->
<!-- <app-event></app-event> -->
<!-- <app-templates></app-templates> -->
<!-- <app-tempex1></app-tempex1> -->
<!-- <app-tempex2></app-tempex2> -->
<!-- <app-tempex3></app-tempex3> -->
<!-- <app-directives></app-directives> -->
<!-- <app-dex1></app-dex1> -->
<!-- <app-dex2></app-dex2> -->
<!-- <app-dex3></app-dex3> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-login-page></app-login-page> -->








<!-- <a routerLink="/home"> hello</a> -->
<router-outlet></router-outlet>

