<h2>This is Shubham Home Page</h2>

<div class="container">
    <div class="main"> 
        <h2>Student Details</h2>
        <table>
            <!-- <thead>Student Details</thead> -->
            <tr style="border: 1;">
                <td> first name</td>
                <td>Shubham</td>
            </tr>
            <!-- <td>Shubham</td> -->
            
            <tr>
                <td> last name</td>
                <td>jagtap</td>
            </tr>
            
            <tr>
                <td> gender</td>
                <td>Male</td>
            </tr>
           
            <tr>
                <td> Qualification</td>
                <td>MCA</td>
            </tr>
            
             
        </table>
    </div>

    <h2>{{name | uppercase}}</h2>
</div>