body{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color:bisque;
    height: 30px;
}
p
{
    color:darkred;
    margin-left: 30px;
    padding-top: 5px;
    
}
.filter{
    padding-top: 20px;
    margin-left: 20px;
}