<div class="container">
  <div class="main"></div>
</div>

<table style="text-align: center">
  <div class="exp">
    <h4>Expense Entry</h4>
  </div>

  <button pButton type="button" label="" class="p-button-info">
    <a routerLink="/about">Go To List</a>
  </button>

  <tr>
    <td>Item :</td>
    <td>{{ name }}</td>
  </tr>
  <tr>
    <td>Amount :</td>
    <td>{{ Amount }}</td>
  </tr>
  <tr>
    <td>Category :</td>
    <td>{{ category }}</td>
  </tr>
  <tr>
    <td>Location :</td>
    <td>{{ Location }}</td>
  </tr>
  <tr>
    <td>Spend On :</td>
    <td>{{ SpendOn }}</td>
  </tr>
</table>
