<!-- <h3>Welcome To Home Page</h3> -->

<div class="container">
  <div class="main">
    <nav class="navbar">
        <h2>WELCOME TO THE HOMEPAGE</h2>
    </nav>
    <div class="gameimage">
      <p-image
        src="https://ksr-ugc.imgix.net/assets/011/581/786/98ed17e73873112ff6ebee85a217260b_original.jpg?ixlib=rb-4.0.2&crop=faces&w=1024&h=576&fit=crop&v=1463684782&auto=format&frame=1&q=92&s=a6bf5e2d61cfed075999fa6a64b11bcf"
        alt="Image" routerLink="/navbar"
        width="1300"
      ></p-image>
    </div>
  </div>
</div>
